aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiolimiter==1.2.1
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
anytree==2.12.1
arxiv==2.1.3
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==25.1.0
autograd==1.7.0
azure-common==1.1.28
azure-core==1.32.0
azure-cosmos==4.9.0
azure-identity==1.20.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.1
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==4.2.1
beartype==0.18.5
beautifulsoup4==4.13.3
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
cleo==2.1.0
click==8.1.8
click-spinner==0.1.10
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.1
crashtest==0.4.1
croniter==1.4.1
cryptography==44.0.1
cssselect2==0.7.0
cycler==0.12.1
dataclasses-json==0.6.7
datashaper==0.0.49
Deprecated==1.2.18
deprecation==2.1.0
devtools==0.12.2
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
dulwich==0.22.7
durationpy==0.9
emoji==2.14.1
environs==11.2.1
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.2.0
fastapi==0.115.8
fastapi-utilities==0.3.0
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.17.0
filetype==1.2.0
findpython==0.6.2
firebase-admin==6.6.0
flatbuffers==25.2.10
fnllm==0.0.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
future==1.0.0
gensim==4.3.3
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0
gpt-researcher==0.11.0
graphrag==1.2.0
graspologic==3.4.1
graspologic-native==1.2.3
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
html5lib==1.1
htmldocx==0.0.6
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
humanfriendly==10.0
hyppo==0.4.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.5.2
installer==0.7.0
isodate==0.7.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json5==0.10.0
json_repair==0.30.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.0
lancedb==0.17.0
langchain==0.3.18
langchain-chroma==0.2.2
langchain-community==0.3.17
langchain-core==0.3.35
langchain-ollama==0.2.3
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langdetect==1.0.9
langgraph==0.2.73
langgraph-checkpoint==2.0.15
langgraph-sdk==0.1.51
langsmith==0.3.8
llvmlite==0.44.0
loguru==0.7.3
lxml==5.3.1
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
md2pdf==1.0.1
mdurl==0.1.2
mistune==3.1.1
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
ollama==0.4.7
onnxruntime==1.20.1
openai==1.63.0
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pbs-installer==2025.2.12
pillow==11.1.0
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.1.1
poetry-core==2.1.1
portalocker==2.10.1
posthog==3.13.0
POT==0.9.5
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
pyarrow==15.0.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydyf==0.11.0
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.20.0
PyMuPDF==1.25.3
pynndescent==0.5.13
pyparsing==3.2.1
pypdf==5.3.0
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2025.2.8
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
pytz==2025.1
PyYAML==6.0.2
RapidFuzz==3.12.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
slugify==0.0.1
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
starlette==0.45.3
statsmodels==0.14.4
sympy==1.13.3
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.21.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.1.15.22
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.7
unstructured==0.16.20
unstructured-client==0.30.1
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.29.2
watchfiles==1.0.4
weasyprint==64.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0
wrapt==1.17.2
xattr==1.1.4
yarl==1.18.3
zipp==3.21.0
zopfli==0.2.3.post1
zstandard==0.23.0
